[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pygame = "==2.0.1"
scipy = "*"
pylint = "*"
scikit-learn = "*"
opencv-python = "==4.5.3.56"
tensorflow = "*"
nltk = "*"

[requires]
python_version = "3.9"
